# erlang_ls configuration for beamtalk
# See https://erlang-ls.github.io/configuration/ for options

apps_dirs:
  - "runtime/apps/beamtalk_runtime/src"
  - "runtime/apps/beamtalk_stdlib/src"
include_dirs:
  - "runtime/apps/beamtalk_runtime/src"
  - "runtime/apps/beamtalk_runtime/include"
deps_dirs:
  - "runtime/_build/default/lib"
