{erl_opts, [debug_info]}.

{deps, [
    {jsx, "~> 3.0"}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.

%% Compile stdlib before building runtime
%% Compile test fixtures before running tests
{pre_hooks, [
    {compile, "bash -c '../scripts/compile-stdlib.sh'"},
    {eunit, "bash -c '../tests/fixtures/compile.sh'"}
]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{plugins, [
    covertool
]}.
